#!ipxe
  #set menu-timeout 8000
   set menu-default 0pe
   isset ${ip} || dhcp
   isset ${next-server} || set next-server 192.168.1.1

  menu iPXE Boot Menu
  item --gap --             --------------------------------- PE --------------------------------
  item HXT-IP192.168.1.154        HXT-IP 192.168.1.154
  item HaoXiTongPE-ISO            HaoXiTongPE-ISO
  item HaoXiTongPE                HaoXiTongPE
  item TinyCore                   TinyCore
  item 
  item --gap --             ---------------------------- Advanced options -----------------------
  item reboot               Reboot computer
  item --key x exit         Exit iPXE and continue BIOS boot                     -- x

  choose --timeout ${menu-timeout} --default ${menu-default} selected
  goto ${selected}


:reboot
  reboot

:exit
  exit


:HXT-IP192.168.1.154
initrd http://192.168.1.154/iso/mydisk.iso 
chain  memdisk iso raw || goto failed

:HaoXiTongPE-ISO
initrd iso/haoxitongpe.iso 
chain  memdisk iso raw || goto failed

:TinyCore
initrd iso/TinyCore.iso 
chain  memdisk iso raw || goto failed


:HaoXiTongPE
#kernel wimboot
kernel wimboot gui
initrd boot/fonts/chs_boot.ttf  chs_boot.ttf
initrd boot/fonts/wgl4_boot.ttf     wgl4_boot.ttf
initrd boot/bcd         BCD
initrd boot/boot.sdi    boot.sdi
initrd sources/boot.wim boot.wim
boot